<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>json</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<style>
  #main {
    margin: 50px 5%;
    text-align: center;
  }
  #editor {
    margin: 0 auto 2em auto;
    height: 700px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
  }
  #menu {
    text-align: left;
    height: 60px;
    line-height: 60px;
  }
  #header {
    position: relative;
  }
  #header .btn {
    margin-right: 10px;
  }
  #user-links {
    position: absolute;
    right: 0;
    top: 0; 
    list-style-type: none;
  }
  #user-links img {
    border-radius: 5px;
    margin-right: 10px;
  }
  #user-links .sign-out{ color: #333; }
  #user-links .sign-in .ico {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 5px;
    vertical-align: middle;
    background-image: url(images/github.png);
    background-repeat: no-repeat;
    background-position: -25px -21px;
  }
  form input[type="text"] {
    margin: 0 5px 0 0;
    padding: 5px;
    width: calc(100% - 77px);
  }
</style>
</head>
<body>
  <div id="main">
    <div id="header">
      <div id="menu">
        <a href="#" class="format">format</a>
        <span class="divider">/</span>
        <a href="#" class="compact">compact</a>
      </div>
      <div id="user-links">
        {{#if loggedIn}}
        <a href="/list" class="name"><img id="avatar" height="40" width="40" alt="avatar" src="{{user.avatar_url}}">{{user.login}}</a>
        <span class="divider">/</span>
        <a href="/signout" class="sign-out">Sign out</a>
        {{else}}
        <a href="/auth/github" class="sign-in btn btn-info"><span class="ico"></span>Sign in with Github</a>
        {{/if}}
      </div>
    </div>
    <form name="jsonform">
      <div id="editor">{ 
  "id": "4",
  "name": "Mark Zuckerberg",
  "first_name": "Mark",
  "last_name": "Zuckerberg",
  "link": "http://www.facebook.com/zuck",
  "username": "zuck",
  "gender": "male",
  "locale": "en_US"
}</div>
      <input type="text" name="title" placeholder="name this file (optional)">
      <button class="btn btn-primary" id="send">submit</button>
    </form>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/bower_components/ace-builds/src-min/ace.js"></script>
  <script src="/bower_components/ace-builds/src-min/mode-json.js"></script>
  <script src="/bower_components/ace-builds/src-min/theme-github.js"></script>
  <script src="./scripts/app.js"></script>
</body>
</html>
